* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: darkred;
}

.hotOffers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.hotOffersItem {
    margin: 30px;
    padding: 15px;
    font-size: 30px;
    border: 3px double darkred;
    text-align: center;
    width: 50%;
}

.hotOffersItem:hover {
    border: 3px solid darkred;
}

.hotOfferImage {
    align-self: center;
    width: 80%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
}

.header {
    background-image: url("../img/mainImg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: 400px;
}

.headerTop {
    background: black;
    opacity: 0.8;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 29.5%;
    box-sizing: unset;
}

.headerText{
    font-size: 34px;
    color: white;
    opacity: 1;
    margin-bottom: 0;
}

.mainContent{
    flex: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 100%;
    height: 130px;
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
}

.footerBottom {
    width: 70%;
    padding-top: 30px;
    margin-bottom: 0;
    border-top: 2px solid #494949;
    box-shadow: 0 -1px 0 #1e1e1e;
    text-align: center;
    color: #999999;
}

.arrow {
    position: relative;
    top: 35%;
}

.photoID {
    width: 550px;
    cursor: zoom-in;
    max-height: 600px;
}

.photoIDmini {
    width: 85px;
    position: relative;
    top: 30px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 22px;
    cursor: pointer;
}

.photoIDmodal {
    position: relative;
    top: -25px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.close {
    position: relative;
    top: -20px;
    right: 10px;
    z-index: 2;
    font-size: 50px;
}

.carousel-inner {
    margin: 0;
}

.carousel-control-prev-icon {
    position: relative;
    left: 30px;
}

.carousel-control-next-icon {
    position: relative;
    right: 30px;
}

.carousel {
    padding-top: 15px;
}

.modal-dialog {
    margin-top: 0;
    max-width: none;
    padding: 0;
}

.idText {
    text-align: justify;
    margin-top: 15%;
}

.landscapeHidden {
    display: none;
}

@media screen and (max-width: 992px) {

    h1 {
        font-size: 50px;
    }

    .headerTop {
        height: 15%;
    }

    .hotOffers {
        flex-direction: column;
    }

    .hotOffersItem {
        width: 90%;
        font-size: 40px;
    }

    .landscapeHidden {
        display: flex;
    }

    .portraitHidden {
        display: none;
    }

    .photoID {
        width: 100%;
    }

    .photoIDmini {
        width: 45%;
        margin-top: 50px;
    }

    .idText {
        font-size: 36px;
    }

    .container {
        margin-left: 4%;
        margin-right: 4%;
        min-width: 92%;
    }

    .portraitWidth {
        min-width: 100%;
    }

}
